
<div class="contents">
  <div class="post">
    <div class="post__img">
      <%= image_tag @post.image.url if @post.image? %>
    </div>
    <div class="post__under">
      <h3 class="post__title">
        <%= @post.title %>
      </h3>
      <h5 class="post__text">
        <%= @post.text %>
      </h5>
      <p class="post__date">
        2018/03/13
      </p>
      <div class="button">
        <%= link_to '編集', edit_post_path, class: "user_button" %>
        <%= link_to '削除', post_path(@post), class: "user__button", method: :delete, data: {confirm: "本当にいいですか？"} %>
      </div>
    </div>
  </div>

  <div class="comments">
    <div class="comment">
      <div class="comment__header">
        <h3>コメント</h3>
      </div>
      <div class="comment__form">
        <%= render 'comments/form' %>
      </div>
      <div class="comment__body">
        <%= render 'comments/comments' %>
      </div>
    </div>
  </div>
</div>
